[Unit]
Description=Install Flatcar

[Service]
Type=oneshot
ExecStart=/opt/install.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
