[Unit]
Description=Qemu-GA (report to KVM hypervisor)

[Service]
Type=simple
ExecStart=/opt/bin/qemu-ga.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
