[Unit]
Description=MyApp
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm --force qemu-ga
ExecStart=/usr/bin/docker run --name qemu-ga   --privileged   --net=host   -v /dev:/dev   -v /etc/os-release:/etc/os-release:ro  docker.io/danskadra/qemu-ga qemu-ga
ExecStop=/usr/bin/docker stop qemu-ga
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
